
/* --------------------------------------
   Layout
   -------------------------------------- */

.img-center {
	text-align: center;
}  
   
footer {
	background: #333;
	color: #eee;
	font-size: 12px;
	padding: 20px;
}

/* Set the fixed height of the footer here */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -145px;
  /* Pad bottom by footer height */
  padding: 0 0 145px;
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
}


   
/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background-image: url("../../images/retina_wood2.png");
	background-repeat: repeat;
}   

/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar {
	font-weight: bold;
}
   
.navbar-brand {
	padding: 0px 15px 0px 15px;
	margin-top: -5px;
	margin-bottom: -5px;
}

.login {
	margin-top: 7px;
}
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}   

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}
   
#myCarousel .item {
	height: 413px;
}

#slide1 {
	background: url("/images/carousel_medium_01.jpg") top center no-repeat;
}

#slide2 {
	background: url("/images/carousel_medium_02.jpg") top center no-repeat;
}

#slide3 {
	background: url("/images/carousel_medium_03.jpg") top center no-repeat;
}

/* --------------------------------------
   About Us
   -------------------------------------- */
   
.about{
	margin-top: 60px;
}  

/* --------------------------------------
   Contact
   -------------------------------------- */
 
   
/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well.what {
	margin: 20px 0;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */


/* Small devices (tablets, 768px and up) */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {	
	
	.carousel-caption {
		font-size: 14px;
	}

	.carousel-caption h4 {
		font-size: 20px;
	}
	
	#myCarousel .item {
		height: 325px;
	}
		
	#slide1 {
		background: url("/images/carousel_small_01.jpg") top center no-repeat;
	}

	#slide2 {
		background: url("/images/carousel_small_02.jpg") top center no-repeat;
	}

	#slide3 {
		background: url("/images/carousel_small_03.jpg") top center no-repeat;
	}
	
	
	
}

@media (min-width: 992px) {	

}

/* Large devices (large desktops, 1200px and up) */
/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item {
		height: 502px;
	}	
		
	#slide1 {
		background: url("/images/carousel_large_01.jpg") top center no-repeat;
	}

	#slide2 {
		background: url("/images/carousel_large_02.jpg") top center no-repeat;
	}

	#slide3 {
		background: url("/images/carousel_large_03.jpg") top center no-repeat;
	}	
	
	#footer {
		height: 145px;
	}
	
}